.form {
  display: flex;
  flex-direction: column;
}
.name {
  height: 40px;
  width: 200px;
  border: 1px solid black;
  margin: 1em;
  padding: 0.5em 0.8em;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1rem;
}
.name::placeholder {
  font-size: 0.9rem;
}
.submit {
  height: 30px;
  width: 100px;
  border: 1px solid black;
  margin: 1em;
  border-radius: 10px;
  font-size: 0.8rem;
}
.submit:hover {
  cursor: pointer;
}
